<h1>Home</h1>

<%= link_to "Sign up now!", new_user_registration_path %> <br>
<%= link_to "Sign in now!", user_session_path %> <br>
<%= link_to "Log out!", destroy_user_session_path, :method => :delete %> <br>
<%= link_to "Create a post", new_post_path %>
