<hr>
<h1>Newest movies posted</h1>
<hr>

<ul class="users">
  <% @posts.each do |post| %>
    <li>
      <strong><%= post.description %><strong> <br>
      <strong><%= embed(post.url) %><strong> <br>
      <strong><%= post.poster_image %><strong>
    </li>
  <% end %>
</ul>

